---
import Centered from "@/layouts/Centered.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import MapImage from "@/components/MapImage.astro";
import AreaCard from "@/components/AreaCard.astro";
import PageHeaderContainer from "@/layouts/PageHeaderContainer.astro";

const climbingAreas = await getCollection("climbingAreas");
---

<Layout>
  <Centered>
    <PageHeaderContainer>
      <h1>Climbing Areas</h1>
    </PageHeaderContainer>
    <Card className="prose dark:prose-invert p-4">
      <ul>
        {
          climbingAreas.map((i) => (
            <li>
              <a href={`/areas/${i.slug}`}>{i.data.title}</a>
            </li>
          ))
        }
      </ul>
    </Card>
  </Centered>
</Layout>
