---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import MapImage from "@/components/MapImage.astro";
import AreaCard from "@/components/AreaCard.astro";
import PageHeaderContainer from "@/layouts/PageHeaderContainer.astro";

const climbingAreas = await getCollection("climbingAreas");
---

<Layout>
  <Card>
    <CardHeader>
      <CardTitle>Climbing Areas</CardTitle>
      <CardDescription>
        Click on an area to see more information
      </CardDescription>
    </CardHeader>
    <CardContent className="prose dark:prose-invert max-w-none">
      <ul>
        {
          climbingAreas.map((i) => (
            <li>
              <a href={`/areas/${i.slug}`}>{i.data.title}</a>
            </li>
          ))
        }
      </ul>
    </CardContent>
  </Card>
</Layout>
