---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { getCollection } from "astro:content";

const climbingAreas = await getCollection("climbingAreas");
---

<RootLayout>
  <MarkdownLayout>
    <h1>Climbing Areas</h1>
    <p>All the climbing areas covered by this site. Visit the dedicated page for each area to see more detailed information.</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Distance from PG</th>
        </tr>
      </thead>
      <tbody>
        {
          climbingAreas
            .sort((a, b) => a.data.distance_km - b.data.distance_km)
            .map(({ data, slug }) => (
              <tr>
                <td>{data.title}</td>
                <td>{`${data.distance_km}km (${data.distance_time})`}</td>
                <td>
                  <a href={`/areas/${slug}`}>details</a>
                </td>
              </tr>
            ))
        }
      </tbody>
    </table>
  </MarkdownLayout>
</RootLayout>
