---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { getClimbingAreas } from "@/lib/helpers";

const climbingAreas = await getClimbingAreas();
---

<RootLayout title="Climbing Areas">
  <MarkdownLayout>
    <h1>Climbing Areas</h1>

    <p>
      Most of the crags on RockClimbPG are within a 3 hour drive of Prince
      George. Click the links above to find more detailed information or see
      below for a quick summary.
    </p>

    <p>
      Please be respectful of the climbing areas and clean up after yourself.
      Always use safe climbing practices and have fun! Again, most of the
      information has been created by others and I am simply putting them all
      onto one website.
    </p>

    <p>
      Some of the information may be outdated but the pages will be updated as
      more information is gathered. Thank you for all those who have developed
      these climbing crags and for those who have put out resources for us to
      use.
    </p>

    <p>
      If you have more information and would like to contribute to this website,
      please contact me <a href="/contact">here</a>.
    </p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Distance from PG</th>
        </tr>
      </thead>
      <tbody>
        {
          climbingAreas.map(({ data, slug }) => (
            <tr>
              <td>{data.title}</td>
              <td>{`${data.distance_km}km (${data.distance_time})`}</td>
              <td>
                <a href={`/areas/${slug}`}>details</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </MarkdownLayout>
</RootLayout>
