---
import ThemePicker from "@/components/theme-picker";
import RootLayout from "@/layouts/root-layout.astro";
import { Button } from "@radix-ui/themes";
---

<RootLayout>
    <h1>Astro</h1>
    <Button>Click me</Button>
    <div class="bg-red-5">hello</div>
    <ThemePicker client:load />
</RootLayout>
