---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <MarkdownLayout>
    <h1>Contact</h1>
    <p>Have some updated beta? Drop us a line and we'll get it on the site</p>
  </MarkdownLayout>
</RootLayout>
