---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { Button } from "@radix-ui/themes";
import { ArrowRightIcon } from "lucide-react";
---

<RootLayout>
  <MarkdownLayout>
    <h1>Welcome to Rock Climb PG!</h1>

    <p>
      <i> Rock Climb PG </i> is intended to provide information for those wanting
      to rock climb in the Prince George, BC area. This is a collection of information
      developed by various climbers from our community. These areas are chosen because
      of their popularity and accessibility. The website will be updated as more
      information is gathered, so don't think what's here is all there is. The hope
      is to eventually make a rock climbing guide, but for now this will help get
      you climbing.
    </p>
    <p>Many thanks to everyone who has contributed to this site!</p>
  </MarkdownLayout>
  <footer class="flex justify-end">
    <Button variant="surface">
      Let's see the climbs <ArrowRightIcon className="size-4" />
    </Button>
  </footer>
</RootLayout>
