---
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import PageHeaderContainer from "@/layouts/PageHeaderContainer.astro";

const resources = await Astro.glob("../../public/resources/*.pdf");
const filenames = resources.map((res) => ({
  path: res.default,
  name: res.default.replace(/^.*[\\\/]/, ""),
}));
---

<Layout>
  <Card>
    <CardHeader>
      <CardTitle>Resources</CardTitle>
      <CardDescription>
        A collection of PDFs providing more detail on
        climbing in the area
      </CardDescription>
    </CardHeader>
    <CardContent className="prose dark:prose-invert max-w-none">
      <ul>
        {
          filenames.map((name) => (
            <li>
              <a href={name.path}>{name.name}</a>
            </li>
          ))
        }
      </ul>
    </CardContent>
  </Card>
</Layout>
