---
import Layout from "@/layouts/Layout.astro";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import PageHeaderContainer from "@/layouts/PageHeaderContainer.astro";

const resources = await Astro.glob("../../public/resources/*.pdf");
const filenames = resources.map((res) => ({
  path: res.default,
  name: res.default.replace(/^.*[\\\/]/, ""),
}));
---

<Layout pageTitle="Resources">
  <Card className="prose dark:prose-invert p-4 max-w-none">
    <ul>
      {
        filenames.map((name) => (
          <li>
            <a href={name.path}>{name.name}</a>
          </li>
        ))
      }
    </ul>
  </Card>
</Layout>
