---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { getResources } from "@/lib/helpers";

const resources = await getResources();
---

<RootLayout>
  <MarkdownLayout>
    <h1>Resources</h1>
    <p>A collection of PDFs providing more detail on climbing in the area</p>
    <table>
      <thead>
        <tr><th>Name</th></tr>
      </thead>
      <tbody>
        {
          resources.map(({ path, name }) => (
            <tr>
              <td>{name}</td>
              <td>
                <a href={path} target="_blank">
                  open
                </a>
              </td>
              <td>
                <a href={path} download>
                  download
                </a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </MarkdownLayout>
</RootLayout>
