---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import MapImage from "@/components/MapImage.astro";

import type { CollectionEntry } from "astro:content";
interface Props {
  area: CollectionEntry<"climbingAreas">;
}

const { area } = Astro.props;
---

<Card>
  <div class="flex">
    <MapImage
      latitude={area.data.latitude}
      longitude={area.data.longitude}
      className="rounded-l-lg"
    />
    <div>
      <CardHeader>
        <CardTitle>{area.data.title}</CardTitle>
      </CardHeader>
      <CardContent />
    </div>
  </div>
</Card>
