---
import { getCollection } from "astro:content";
import { Button } from "./ui/button";
import {
  DropdownMenu,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuLabel,
  DropdownMenuSeparator,
  DropdownMenuTrigger,
} from "@/components/ui/dropdown-menu";

const areas = await getCollection("areas");

interface Link {
  name: string;
  link: string;
  selected: (pathname: string) => boolean;
  children?: Link[];
}

const links: Link[] = [
  { name: "Home", link: "/", selected: (pathname) => pathname === "/" },
  {
    name: "Climbing Areas",
    link: "/areas",
    selected: (pathname) => pathname.startsWith("/areas"),
    children: areas.map((area) => ({
      name: area.data.title,
      link: `/areas/${area.slug}`,
      selected: (pathname) => pathname.startsWith(`/areas/${area.slug}`),
    })),
  },
  {
    name: "Resources",
    link: "/resources",
    selected: (pathname) => pathname.startsWith("/resources"),
  },
  {
    name: "Contact",
    link: "/contact",
    selected: (pathname) => pathname.startsWith("/contact"),
  },
];
---

<header
  class="bg-card border-b shadow px-6 py-4 flex justify-between items-center"
>
  <a href="/">
    <h1 class="text-xl">RockClimbPG</h1>
  </a>
  <div class="flex gap-3">
    {
      links.map((link) => (
        <a href={link.link}>
          <Button
            variant={
              link.selected(Astro.url.pathname) ? "default" : "secondary"
            }
          >
            {link.name}
          </Button>
        </a>
      ))
    }
  </div>
</header>
