---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

interface Props {
  entry: any;
}

export const getStaticPaths: GetStaticPaths = async () => {
  const routes = await getCollection("climbingRoutes");
  return routes.map((entry) => ({
    params: { areaSlug: entry.data.area.id, routeSlug: entry.slug },
    props: { entry },
  }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<RootLayout title={entry.data.title}>
  <MarkdownLayout>
    <h1>
      {entry.data.title}
    </h1>
    <Content />
  </MarkdownLayout>
</RootLayout>
