@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #166534;
    --background: 152 98.2% 98.48%;
    --foreground: 152 6.4% 0.96%;

    --muted: 152 6.4% 92.4%;
    --muted-foreground: 152 3.2% 42.4%;

    --popover: 152 37.519999999999996% 95.44%;
    --popover-foreground: 152 6.4% 1.2%;

    --card: 152 37.519999999999996% 95.44%;
    --card-foreground: 152 6.4% 1.2%;

    --border: 152 11.4% 89.96%;
    --input: 152 11.4% 89.96%;

    --primary: 152 64% 24%;
    --primary-foreground: 152 1.28% 92.4%;

    --secondary: 152 15.36% 85.56%;
    --secondary-foreground: 152 4.84% 12.4%;

    --accent: 152 15.36% 85.56%;
    --accent-foreground: 152 4.84% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 152 64% 24%;

    --radius: 0.3rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #22c55e;

    --background: 151 46.15% 3.6%;
    --foreground: 151 7.1% 97.25%;

    --muted: 151 37.629999999999995% 13.5%;
    --muted-foreground: 151 7.1% 54.5%;

    --popover: 151 37.31% 5.8500000000000005%;
    --popover-foreground: 151 7.1% 97.25%;

    --card: 151 37.31% 5.8500000000000005%;
    --card-foreground: 151 7.1% 97.25%;

    --border: 151 37.629999999999995% 13.5%;
    --input: 151 37.629999999999995% 13.5%;

    --primary: 151 71% 45%;
    --primary-foreground: 151 7.1% 97.25%;

    --secondary: 151 37.629999999999995% 13.5%;
    --secondary-foreground: 151 7.1% 97.25%;

    --accent: 151 37.629999999999995% 13.5%;
    --accent-foreground: 151 7.1% 97.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 151 7.1% 97.25%;

    --ring: 151 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply w-full h-full overflow-hidden;
}
