---
import Footer from "@/components/Footer.astro";
import { Header } from "@/components/Header.tsx";
import "@/globals.css";
---

<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Climb PG - New</title>
  </head>
  <body
    class="flex flex-col bg-[url('/concrete-wall.png')] dark:bg-[url('/asfalt-light.png')]"
  >
    <Header client:load pathname={Astro.url.pathname} />
    <main class="flex-1 overflow-auto">
      <div class="container p-4">
        <slot />
      </div>
      <!-- <Footer /> -->
    </main>
  </body>
</html>
