---
import Header from "@/components/Header.astro";
import "@/globals.css";
---

<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="flex flex-col">
    <Header />
    <main class="flex-1 overflow-auto">
      <slot />
    </main>
  </body>
</html>
