---
// Supports weights 100-900
import "@fontsource-variable/radio-canada";

import "@radix-ui/themes/styles.css";
import "@/styles/global.css";

import RadixProvider from "@/components/radix-provider";
import Header from "@/components/header";
import { getLinkInfos } from "@/lib/helpers";

const linkInfos = await getLinkInfos();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rock Climb PG</title>
  </head>
  <body>
    <RadixProvider client:load>
      <Header client:load pathname={Astro.url.pathname} linkInfos={linkInfos} />
      <main class="container2">
        <slot />
      </main>
    </RadixProvider>
  </body>
</html>
