---
import "@radix-ui/themes/styles.css";
import "@/styles/global.css";
import RadixProvider from "@/components/radix-provider";
import Header from "@/components/Header";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <RadixProvider client:load>
      <div class="from-accent-10 bg-linear-to-r to-accent-8 h-1 w-full"></div>
      <Header client:load />
      <main class="container2">
        <slot />
      </main>
    </RadixProvider>
  </body>
</html>
